// Here you can add other styles
.navbar {
  .form-inline {
    margin-top: 1px;

    .input-group {
      float: none;
    }

    .btn {
      vertical-align: top;
      border: 0;
    }
    .form-control {
      float: none !important;
      color: $navbar-color;
      vertical-align: top;
      background-color: darken($gray-800, 10%);
      border-color: darken($gray-800, 10%);
      margin-left: -2px;

      &::placeholder {
        color: $navbar-color;
      }
    }
    .form-control::-webkit-input-placeholder { color: $navbar-color; }
    .form-control:-moz-placeholder { color: $navbar-color; }
    .form-control::-moz-placeholder { color: $navbar-color; }
    .form-control:-ms-input-placeholder { color: $navbar-color; }

    .input-group-btn {
      height: 40px;
      background-color: darken($gray-800, 10%);
      padding: 5px;
      .btn {
        height: 30px;
        color: #fff;
        background-color: darken($gray-800, 10%);

        &.dropdown-toggle {
          background-color: $gray-600;
          padding: 0 1rem;
        }
      }
    }
  }

  .avatar {
    img {
      width: 34px;
      border-radius: 0 !important;
    }
  }
}

.aside-menu .nav.nav-tabs {
  background-color: $gray-200;
}

body:not(.sidebar-minimized) {

  .sidebar {
    .nav {
      .nav-item {
        .nav-link {
          i {
            width: 45px;
            height: 45px;
            margin-top: -($sidebar-nav-link-padding-y + 0.25rem) !important;
            margin-right: ($sidebar-nav-link-padding-x / 2);
            margin-bottom: -$sidebar-nav-link-padding-y;
            margin-left: -$sidebar-nav-link-padding-x;
            line-height: 45px;
            color: $sidebar-nav-link-icon-color;
            border-right: 1px solid $border-color;
          }
        }
      }
    }
  }
}

body, html, .main-app {
  margin: 0;
  overflow: hidden;
  height: 100%;
}

@media (max-width: 768px) {
  body, html, .main-app {
    margin: 0;
    overflow: auto;
    height: 100%;
  }
}

.mb-15 {
  margin-top: 15px;
  margin-bottom: 15px;
}

.coin-info {
  height: 40px;
}

.news-row .content-icon-wrapper,
.coin-info .content-icon-wrapper {
  display: none;
  margin: 11px 30px 10px 0;
  position: absolute;
  right: 0;
}

.news-row:hover .content-icon-wrapper,
.coin-info:hover .content-icon-wrapper {
  display: inline-block;
}

.coin-search input {
  color: #ffffff;
  height: 25px;
}
.coin-search .coin-search-btn {
  height: 35px;
  min-width: 35px !important;
}
.coin-search .coin-search-btn .btn {
  padding: 0.25rem 0.75rem
}
.coin-search .dropdown-menu {
  min-width: 14rem;
}
.main .projection-cards {
}
.main .projection-cards .coin-data {
}
.main .projection-cards .coin-data i.coin-data-icon {
  color: $artic-lime;
}
.main .projection-cards .coin-data i.coin-data-link {
  color: $jet;
}
.main .projection-cards .card-header .h6 {
  display: inline-block;
  margin: 0;
  vertical-align: middle;
}
.main .projection-cards .card-header .add-coin {
  margin: 0;
}
.main .projection-cards .row,
.main .projection-cards .row .col-md-12 {
  padding: 0;
}
.main .projection-cards .row .card {
  margin: 15px;
}
.main .projection-cards .row .card-body {
  padding: 0;
}
.main .projection-cards .card-header span {
  display: inline-block;
  padding: 10px 10px;
  vertical-align: middle;
}
.main .projection-cards .card-header .coin-search {
  padding: 2px 0;
}

/*
.app-header.navbar {
  background-color: #34383c;
  border-bottom: 1px solid #34383c;
}
*/

/*
.app-header.navbar .navbar-brand {
  display: inline-block;
  padding: 0.5rem 1rem;
  margin-right: 0;
  background-color: #000000;
  background-image: url('../img/logo.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 70px auto;
  border-bottom: 1px solid #000000;
}
*/

.notify-label {
  margin: 0 10px;
}

.switch.switch-notify {
  margin: 0 2%;
}

.form-control {
  color: #34383c;
  background-color: #000000;
  background-image: none;
  background-clip: padding-box;
  border: 1px solid #34383c;
}

.form-control:focus {
  color: #34383c;
  background-color: #000000;
  border-color: #34383c;
  outline: none;
}

.sidebar .btn-auth {
  width: 50%;
}

.sidebar .sidebar-header {
  padding: 0;
  display: inline;
}

.sidebar .nav-link,
.sidebar .navbar .dropdown-toggle,
.navbar .sidebar .dropdown-toggle {
  /* background: #34383c; */
}

.sidebar .nav-link:hover,
.sidebar .navbar .dropdown-toggle:hover,
.navbar .sidebar .dropdown-toggle:hover {
  /*
  color: rgb(255, 255, 255);
  background: rgb(0, 0, 0);
  */
}

/*
.breadcrumb { margin: 0 !important; }
*/
.main-app { margin: 0 !important; padding: 0 !important; }
.main-app .row { padding: 0 15px; }
.main-app .col { padding: 0 !important; margin: 0 !important; }

.sidebar-coins { display: block; text-shadow: 2px 2px 4px #000000; }
.sidebar-coins button { margin: 0 !important; }

.sidebar-coins button.chg { background: #8da5b2; }
.sidebar-coins button.add-coin { background-color: #33444c; border: #FAFAFA !important; box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0); }
.sidebar-coins button.add-coin:hover { background-color: #20a8d8; }

.sidebar-coins button span { display: inline-block; }
.sidebar-coins button span.coin-ticker {
  display: table-cell;
  font-weight: bold;
  padding: 0 5% 0 0;
  text-align: left;
  width: 30%;
}
.sidebar-coins button span.pl-dollars {
  display: table-cell;
  font-weight: 400;
  padding: 0 2%;
  text-align: center;
  width: 40%;
}
.sidebar-coins button span.pl-return {
  display: table-cell;
  font-weight: bold;
  padding: 0 0 0 5%;
  text-align: right;
  width: 30%;
}

.sidebar-coins button span.pl-dollars { color: #efefef; } 
.sidebar-coins button span.pl-dollars.profit,
.sidebar-coins button span.pl-return.profit { color: #00aa00; }
.sidebar-coins button span.pl-dollars.loss,
.sidebar-coins button span.pl-return.loss { color: #DD2C00; }

.sidebar-minimized .sidebar-coins .add-coin { padding: 0.375rem 0; }
.sidebar-minimized .sidebar-coins .add-coin-symbol {  }
.sidebar-minimized .sidebar-coins .add-coin-name { display: none; }
.sidebar-minimized .sidebar-coins .btn { margin: 5px auto; padding: 0; }
.sidebar-minimized .sidebar-coins button span { display: inline-block; padding: 0.375rem 0rem; }
.sidebar-minimized .sidebar-coins button span.coin-ticker { display: block; margin: 0 auto; padding: 0.375rem 0rem; text-align: center; width: 100%; }
.sidebar-minimized .sidebar-coins button span.pl-dollars { display: none; }
.sidebar-minimized .sidebar-coins button span.pl-return { display: none; }

.news .card-header {
  width: 100%;
}

.content-toggler.close {
  padding: 15px;
  position: absolute;
  right: 5px;
  z-index: 5;
}

.coins-list,
.coins-rightbar,
.news-list,
.news-rightbar {
  height: 100vh;
  margin: 0;
  overflow-y: scroll; 
  width: 100%;
}

@media (max-width: 768px) {
  .coins-rightbar,
  .news-rightbar {
    position: absolute;
    top: 50px;
  }
}

.news-list td {
  padding: 0;
}

.news-list a,
.news-content a {
  color: #000000;
}

.news-row:hover {
  background-color: rgba(255,255,255,.8);
}

.news-list .ticker-symbol {
  display: inline-block;
  height: 45px;
  padding: 10px 0 0;
  text-align: center;
}

.news-list .news-summary {
  display: inline-block;
  height: 45px;
  padding: 11px 0 0;
  white-space: nowrap;      /*keep text on one line */
  overflow: hidden;         /*prevent text from being shown outside the border */
  text-overflow: ellipsis;  /*cut off text with an ellipsis*/
}

.news-list .publish-time {
  display: inline-block;
  height: 45px;
  padding: 11px 0 0;
}

@media (max-width: 768px) {
  .news-list .news-summary {
    width: 80%;
  }
  .hidden-sm-down {
    display: none !important;
  }
}

.news-list a {
  text-decoration: none;
}

.news-content {
}

.news-list .badge {
  margin-left: 5px;
}

.list-group-item.active {
  z-index: 2;
  color: #fff;
  background-color: #151b1e;
  border-color: #151b1e;
}

.coins-list .card-body .col {
  display: inline;
  padding: 0.75rem 1.25rem !important;
  margin-bottom: 0;
}

.main-app .coins-list .col {
  padding: 1% 15px !important;
}

.coins-list a {
  color: #000000;
  text-decoration: none;
}

.coins-list a:hover {
  color: #000099;
}

.coins-list hr {
  margin: 0;
}

.coins-list .positive a {
  color: #00aa00;
}

.coins-list .negative a {
  color: #990000;
}

.coins-list .coin-rank {
  display: table-cell;
}

.coins-list .coin-ticker-name {
  display: table-cell;
}

.coins-list .coin-price {
  display: table-cell;
}

.coins-list .coin-mkcap {
  display: table-cell;
}

.coins-list .coin-change {
  display: table-cell;
}

.projections-page {
  margin-top: 1.5rem;
}

.pointer {
  cursor: pointer;
}

.react-tabs {
  &__tab-list {
    border-bottom: 1px solid #aaa;
    margin: 0 0 15px;
    padding: 0;
  }

  &__tab {
    display: inline-block;
    border: 1px solid transparent;
    border-bottom: none;
    bottom: -1px;
    position: relative;
    list-style: none;
    padding: 6px 12px;
    cursor: pointer;

    &--selected {
      background: #fff;
      border-color: #aaa;
      color: black;
      border-radius: 5px 5px 0 0;
    }

    &--disabled {
      color: GrayText;
      cursor: default;
    }

    &:focus {
      box-shadow: 0 0 5px hsl(208, 99%, 50%);
      border-color: hsl(208, 99%, 50%);
      outline: none;

      &:after {
        content: "";
        position: absolute;
        height: 5px;
        left: -4px;
        right: -4px;
        bottom: -5px;
        background: #fff;
      }
    }
  }

  &__tab-panel {
    display: none;

    &--selected {
      display: block;
    }
  }
}
